.cartao1 {
   
    border-radius: 6px;
    cursor: pointer;
    background-color: #3c3f57;
    width: 15vw;
    height: 35vh;
    margin-left: 1vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    

}

.info {
    display: flex;
    flex-direction: row;
}

.nome {
    color: rgb(255, 255, 255);
}
