.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.banner{
    background-image: url("../src/components/imagens/Captura_de_ecra_2022-10-19_as_21.01.46.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
} 
.logo{
    width: 20vw;
    background-image: url("../src/components/imagens/Logo.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 40vh;
}
.graph{
    justify-content: left;
    height: 50vh;
    width: 70vw;
    display: flex;
    align-items: baseline;
}
.logout{
    display: flex;
    width: 10vw;
    justify-content: right;
    margin-right: 60px;
    align-items: flex-end;
}
.logout button{ 
    width: 100px;
    height: 30px;
    color: black;
    background-color: #38b6ff;
    border: transparent;
}
.conduminios{
    background-color: white;
    display: flex;
    justify-content: center;
}

.searchContainer{
    justify-content: center;
    display: flex;
    padding-top: 15px;
}
.searchContainer input{
    width: 500px;
}
.moradores{
    background-color: rgb(255, 255, 255);
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.moradores1{ 
    margin-top: 30px;
    margin-right: 17px;

}
.organizar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.botao {
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    width: 13vw;
    height: 5vh;
    font-size: 10px;
}
.botaoDiv{
    width: 50vw;
    height: 6vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}